[submodule "react/src/markdown-app-source"]
	path = react/src/markdown-app
	url = https://github.com/mackenziewritescode/markdown-app-source.git
[submodule "react/src/calculator-source"]
	path = react/src/calculator
	url = https://github.com/mackenziewritescode/calculator-source.git
[submodule "react/src/photo-search-source"]
	path = react/src/photo-search
	url = https://github.com/mackenziewritescode/photo-search-source.git
[submodule "react/src/drum-machine-source"]
	path = react/src/drum-machine
	url = https://github.com/mackenziewritescode/drum-machine-source.git
[submodule "react/src/portfolio-source"]
	path = react/src/portfolio
	url = https://github.com/mackenziewritescode/portfolio-source.git
[submodule "interval-timer"]
	path = interval-timer
	url = https://github.com/mackenziewritescode/interval-timer.git
