@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

#photo-search {
  font-family: "Poppins", sans-serif;
}

// #test {
//   display: flex;
//   margin: 50px;
//   width: 200px;
//   height: 2000px;
//   background: red;
// }

#photo-header {
  display: inline-block;
  min-height: 300px;
  width: 100%;
  min-width: 400px;
  color: white;
  background-color: aquamarine;
  background: url(banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#photo-gradient {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+63,ffffff+98&0.5+0,0.5+63,1+98 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 63%,
    rgba(255, 255, 255, 1) 98%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 63%,
    rgba(255, 255, 255, 1) 98%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 63%,
    rgba(255, 255, 255, 1) 98%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#photo-title {
  width: 100%;
  font-size: 60px;
  text-align: center;
  margin: 40px auto 20px auto;
}

#sticky {
  z-index: 9000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#search-wrap {
  max-width: 800px;
  min-width: 360px;
  height: 36px;
  display: grid;
  grid-template-columns: 1fr 80px;
  margin: 0px auto 40px auto;
  padding: 10px 0px 15px 0px;
}

#search-bar {
  display: flex;
  height: 100%;
  margin: 0;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 0;
}

#search-input {
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  border: none;
  outline: 0;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  background-color: rgba(238, 238, 238, 0.8);
}

#search-button {
  background: rgba(170, 170, 170, 0.8);
  height: 100%;
  font-size: 16px;
  border: none;
  outline: 0;
  border-radius: 0 10px 10px 0;
  // font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
}

#search-bar:focus {
  outline: 0;
  background-color: rgba(179, 209, 233, 0.8);
}
#search-button:focus {
  outline: 0;
  background-color: rgb(170, 205, 233);
}

#photo-text {
  max-width: 800px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 20px;

  #photo-footer {
    font-size: 12px;
    margin-top: 40px;
    color: rgb(167, 167, 167);
  }

  a {
    text-decoration: none;
    color: rgb(162, 255, 247);
  }
  #photo-footer a {
    color: rgb(57, 214, 201);
  }
}

#content {
  display: inline-block;
  width: 100%;

  .thumb {
    height: 300px;
    width: 200px;
    margin: 10px;
    display: flex;
    float: left;
    position: relative;
  }

  img {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
  }
}