@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
$main-font: "Poppins", sans-serif;


#drum-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: $main-font;
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .drum-header {
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
    color: white;
    font-size: 22px;
  }
  
  #drum-portfolio {
    position: absolute;
    top: -7px;
    left: 0;
    display: flex;
    z-index: 99;
    height: 40px;
    width: 230px;
    color: white;
    font-weight: 400;
    background: rgba(67, 149, 255, 0.6);
    border-radius: 0 0 40px 0;
    -moz-border-radius: 0 0 40px 0;
    -webkit-border-radius: 0 0 40px 0;
    font-style: italic;
    font-size: 14px;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding-left: 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  #drum-portfolio:hover {
    background: rgba(0, 255, 128, 0.6);
    color: white;
  }
  #drum-portfolio:active {
    background: white;
    color: #ff00ea;
  }

  #drumMachine {
    display: flex;
    width: 1000px;
    height: 500px;
    background: rgba(255, 153, 229, 0.6);
    border: 3px solid white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #padWrap {
      width: 400px;
      height: 400px;
      margin: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;

      .pad {
        width: 30%;
        height: 30%;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
        margin: auto;
        cursor: pointer;
        font-size: 16px;
        color: rgb(0, 110, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        line-height: 0;
        background: rgba(255, 255, 255, 0.5);
        .letter {
          font-size: 36px;
          text-transform: uppercase;
        }
      }
    }

    #controlWrap {
      //background-color: lightgrey;
      width: 400px;
      margin: 50px;

      #title {
        width: 100%;
        margin: 0;
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
        font-size: 50px;
        font-weight: 300;
        font-style: italic;
        text-shadow: 7px 7px magenta;
      }

      #trackPlayer {
        width: 50%;
        display: float;
        float: left;

        .track {
          width: 100%;
          display: flex;
          font-size: 18px;
          margin-bottom: 20px;
          cursor: pointer;

          .trackToggle {
            width: 13px;
            height: 13px;
            border-radius: 99px;
            background-color: rgb(59, 59, 59);
            border: 3px solid rgb(134, 134, 134);
            margin: auto 10px auto 5px;
          }

          .trackName {
            color: white;
            margin: 0;
          }
        }
      }

      #padDisplay {
        text-align: center;
        width: 50%;
        display: float;
        float: right;
        margin-bottom: 40px;

        #padDisplayWindow {
          background-color: #80ffbd;
          margin: auto;
          padding: 15px;
          width: 120px;
          border: 3px solid rgb(134, 134, 134);
          border-radius: 5px;
          color: rgba(0, 0, 0, 0.3);
          font-family: "VT323", monospace;
          font-size: 30px;
          text-transform: uppercase;
        }
      }
      #volume {
        text-align: center;
        width: 50%;
        display: float;
        float: right;

        #volumeSlider {
          -webkit-appearance: none;
          width: 80%;
          height: 6px;
          background: rgb(24, 24, 24);
          border-radius: 3px;
        }
        #volumeSlider:focus {
          outline: none;
        }
        #volumeSlider::-moz-range-thumb {
          width: 12px;
          height: 28px;
          background: rgb(184, 184, 184);
          border: 3px solid rgb(102, 102, 102);
          border-radius: 3px;
        }
        #volumeSlider::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 12px;
          height: 28px;
          background: rgb(184, 184, 184);
          border: 3px solid rgb(102, 102, 102);
          border-radius: 3px;
        }
      }
    }
  }

  #drum-footer {
    color: rgb(119, 119, 119);
    text-align: center;
    margin: auto;
    bottom: 0%;
    position: fixed;
    width: 100%;

    .footer-link {
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  }

  @media (max-width: 900px) {
    #drum-wrapper {
      background: none;
      -webkit-background-size: none;
      -moz-background-size: none;
      -o-background-size: none;
      background-size: none;
      //background-image: url(bg.jpg);
      background-color: black;
    }

    #drum-footer {
      position: absolute;
      margin-left: 30px;
      bottom: 0%;
      top: 1000px;
    }
    #drumMachine {
      width: 450px;
      height: 880px;
      display: inline-block;
      top: 490px;

      #padWrap {
        margin: 25px;
      }
      #controlWrap {
        margin: 25px;
        height: 400px;
      }
    }
  }
  @media (max-width: 500px) {
    #drum-footer {
      position: absolute;
      max-width: 400px;
      margin-left: 30px;
      bottom: 0%;
      top: 800px;
    }

    #drumMachine {
      display: inline-block;
      position: absolute;
      top: 30px;
      left: 0;
      transform: translate(0, 0);
      border: none;
      border-radius: 0;
      background: rgba(0, 0, 0, 0);
      height: 800px;

      #padWrap {
        width: 300px;
        height: 300px;
        margin: 15px auto;
      }
      #title {
        color: rgb(0, 0, 0);
      }
    }
  }
}
